In [2]:
import psycopg2
import pandas as pd
import pandas.io.sql as sqlio

In [3]:
con = psycopg2.connect(host = "192.168.29.122", user = "postgres", password = "postgres", database = "dvdrental")

In [9]:
query = "select * from actor limit 5";
sqlio.read_sql_query(query,con)

   actor_id first_name     last_name             last_update
0         1   Penelope       Guiness 2013-05-26 14:47:57.620
1         2       Nick      Wahlberg 2013-05-26 14:47:57.620
2         3         Ed         Chase 2013-05-26 14:47:57.620
3         4   Jennifer         Davis 2013-05-26 14:47:57.620
4         5     Johnny  Lollobrigida 2013-05-26 14:47:57.620